<div id="<%= dom_id socio %>">
  <p>
    <strong>Rut:</strong>
    <%= socio.rut %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= socio.nombre %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= socio.apellido %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= socio.direccion %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= socio.ciudad %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= socio.telefono %>
  </p>

</div>
