<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= book.autor %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= book.status %>
  </p>

  <p>
    <strong>Prestado:</strong>
    <%= book.prestado %>
  </p>

  <p>
    <strong>Devuelto:</strong>
    <%= book.devuelto %>
  </p>

</div>
